<app-loader *ngIf="isLoader"></app-loader>
<div *ngIf="!!userList">
  <button class="add-btn" [routerLink]="['add']">+ Add user</button>
  <table>
    <thead>
      <tr>
        <th>Sr. No</th>
        <th>User Name</th>
        <th>email</th>
        <th class="action">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userList">
        <td>{{ user.id }}</td>
        <td>@{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td class="edit-btn">
          <button type="button" [routerLink]="['edit']">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
